$TTL 86400
@   IN  SOA     dns1.myweb-100.com. root.myweb-100.com. (
        2020120301  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
        IN  NS      dns1.myweb-100.com.
        IN  NS      dns2.myweb-100.com.
        
        IN  A       192.168.100.11
        IN  MX 10   dns1.myweb-100.com.

dns1            IN  A       192.168.100.11
dns2            IN  A       192.168.100.12
www             IN  A       192.168.100.80
server-02       IN  A       192.168.100.81
server-02       IN  A       192.168.100.82